// Color Variables

$color-primary: #0A0A0A;
$color-secondary: #ffffff;
$color-tertiary: #000000;
$color-accent: #f19d15;
$color-accent2: #027901;
/*$color-primary: #027901;*/
//Typography

$font-body: Arial;
$font-headline: 'Montserrat', sans-serif;
$font-caption: 'Roboto', sans-serif;
$font-footertitle: 'Montserrat', sans-serif;
$font-buttons: 'Montserrat', sans-serif;
$font-desktop-headerline:  'Montserrat', sans-serif;
$font-open-quote: 'Montserrat', sans-serif;
$font-navigation: 'Montserrat', sans-serif;
$font-headline-size: 11px;
$font-headlinedesktop-size: 24px;
$font-promoter-header-size: 40px;
$font-body-size: 20px;
$font-aside-size: 17px;
$font-h2-size: 40px;
$font-bodymobile-size: 15px;
$font-bodydesktop-size: 20px;
$font-caption-size: .7em;
$font-footer-size: 40px;
$font-footer-sizemobile: 25px;
$font-photocredit-size: 17px;
$font-subhead-weight: bold;
$font-footer-subnavs-size: 13px;
$font-sectionheads-color: #027901;
$font-sectionheads-size-mobile: 30px;
$font-headline-mobile-size: 20px;

$font-sectionheads-size:  35px;
$font-sectionheads-leading: 1em;
$font-contactinfo-size: 38px;
$font-numbers-size: 25px;
//nav
$font-color-a: #000000;
$font-style-a: 'Red Hat Display', sans-serif;
$font-size-a: 15px;

//background color in terms of locations
$background-section-color: rgb(28, 164, 252);;
$background-header-color: #F3F6F8;


//header position
$color-openquote: #ffffff;



//photocredit

$font-credit-aside-style: italic;
$font-size-credit: 15px;


//goodybackground
$background-goody: #9DB5DD;



//submit button
$color-submitbutton: #4CAF50;

//textbutton
$color-textbox: #ccc;
